# Choix de l'implémentation des sequences
# Valeurs utiles : Liste ou Tableau
Sequence=Liste

# Niveau de détail des messages par défaut
LogLevel=INFO

# Type d'interface : Graphique ou Textuelle
Interface=Graphique

# Couleurs pour Joueurs, surbrillance, nombre de pions sur une tour et le fond
CouleurJ1=e0de3f
CouleurJ2=c40000
CouleurSubrillance=21AD66
CouleurNbPion=292929
CouleurFond=594F4F
CouleurPlateau=CAA472
CouleurVide=5e5e5e
CouleurOutline=0
CouleurScore=F9E4B7
CouleurBord=292929
# vitesse animations


# IA
JoueurIA=JoueurIAAleatoire