# Choix de l'implémentation des sequences
# Valeurs utiles : Liste ou Tableau
Sequence=Tableau

# Niveau de détail des messages par défaut
LogLevel=INFO

# Type d'interface : Graphique ou Textuelle




# vitesse animations


# IA
